@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@font-face {
    font-family: "Manrope";
    src: url("/manrope.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    body {
        font-family: "Manrope", sans-serif;
    }
}
